@model DVDManagement.Models.AdminViewModel.InfoViewModel

<div class="modal fade" id="changePasswordPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">更改密碼</h5>
            </div>
            <form id="changePasswordForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="changePasswordViewModel.OldPassword" class="form-control-label"></label> :
                        <input asp-for="changePasswordViewModel.OldPassword" type="password" class="form-control form-control-line">
                        <span asp-validation-for="changePasswordViewModel.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="changePasswordViewModel.NewPassword" class="form-control-label"></label> :
                        <input asp-for="changePasswordViewModel.NewPassword" type="password" class="form-control form-control-line">
                        <span asp-validation-for="changePasswordViewModel.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="changePasswordViewModel.ConfirmPassword" class="form-control-label"></label> :
                        <input asp-for="changePasswordViewModel.ConfirmPassword" type="password" class="form-control form-control-line">
                        <span asp-validation-for="changePasswordViewModel.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                    <button id="changePasswordBtn" type="button" class="btn btn-primary">儲存更變</button>
                </div>
            </form>
        </div>
    </div>
</div>