<div class="modal fade" id="failPromptPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="failPromptContent" class="modal-body"></div>
        </div>
    </div>
</div>